# BNB Chain
NEXT_PUBLIC_BSC_MAINNET_RPC=https://bsc-dataseed.bnbchain.org
NEXT_PUBLIC_BSC_TESTNET_RPC=https://data-seed-prebsc-1-s1.bnbchain.org:8545
NEXT_PUBLIC_CHAIN_ID=97

# Deployer (合约部署用，不要提交到 Git)
DEPLOYER_PRIVATE_KEY=
BSCSCAN_API_KEY=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# IPFS (Pinata)
NEXT_PUBLIC_PINATA_API_KEY=
NEXT_PUBLIC_PINATA_SECRET=

# WalletConnect
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
